{% if object %}
    <h5 class="mt-3 mb-3">
        Заказ №{{ object.pk }} от {{ object.created|date:"Y-m-d H:i:s" }}
    </h5>
    <hr>
    <h6 class="mt-3 mb-3">
        Заказчик: {{ user.last_name }} {{ user.first_name }}
    </h6>
    <h6 class="mt-3 mb-3">
        Обновлен: {{ object.updated|date:"Y-m-d H:i:s" }}
    </h6>
    <h6 class="mt-3 mb-3">
        Статус: {{ object.get_status_display }}
    </h6>
    <hr>
    <h6 class="mt-3 mb-3">
        Общее количество товаров: <span class="order_total_quantity">{{ object.get_total_quantity }}</span>
    </h6>
    <h5 class="mt-3 mb-3">
        Общая стоимость: <span class="order_total_cost">{{ object.get_total_cost }}</span> руб</span>
    </h5>
{% else %}
    <h4 class="mt-3 mb-3">
        Заказчик: {{ user.last_name }} {{ user.first_name }}
    </h4>
    {% if basket.0 %}
        <h4 class="mt-3 mb-3">
            Общее количество товаров: <span class="order_total_quantity">{{ basket.0.get_total_quantity }}</span>
        </h4>
        <h3 class="mt-3 mb-3">
            Общая стоимость: <span class="order_total_cost">{{ basket.0.get_total_cost }}</span> руб</span>
        </h3>
    {% endif %}
{% endif %}
<hr>
